

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}


header, nav, main, footer {
  padding: 20px; 
}

nav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

nav ul li {
  display: inline; 
  margin-right: 10px; 
}

section {
  border: 1px solid #ccc; 
  padding: 20px; 
}

footer {
  text-align: center; 
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

img {
  max-width: 100%; /* Para asegurarse de que las imágenes no se desborden de sus contenedores */
  height: auto; /* Para mantener la proporción de aspecto de las imágenes */
  border-radius: 8px; /* Para redondear las esquinas de las imágenes */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar las imágenes */
  transition: transform 0.3s ease; /* Efecto de transición al hacer hover sobre las imágenes */
}

body {
  background-color: #1a1a1a; /* Color de fondo oscuro */
  color: #ffffff; /* Color del texto claro para un buen contraste */
}

